@layer reset, base, tokens, recipes, utilities;

body > [data-rk] {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    background: url('/images/bg.webp') no-repeat top center fixed #141417;
    background-size: cover;
}
