.loader {
	width: 80px;
	height: 80px;
	position: relative;
}

.loaderBlock {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	opacity: 0.2;
	border: 0 solid #aaa;
	width: 30px;
	height: 30px;
	background: #aaa;
	animation: show 1s infinite alternate;
}

.loaderBlock:nth-child(1) {
	transform: translate(0, 0);
	animation-delay: 0.1s;
}

.loaderBlock:nth-child(2) {
	transform: translate(30px, 0);
	animation-delay: 0.2s;
}

.loaderBlock:nth-child(3) {
	transform: translate(60px, 0);
	animation-delay: 0.3s;
}

.loaderBlock:nth-child(4) {
	transform: translate(0, 30px);
	animation-delay: 0.4s;
}

.loaderBlock:nth-child(5) {
	transform: translate(30px, 30px);
	animation-delay: 0.5s;
}

.loaderBlock:nth-child(6) {
	transform: translate(60px, 30px);
	animation-delay: 0.6s;
}

.loaderBlock:nth-child(7) {
	transform: translate(0, 60px);
	animation-delay: 0.7s;
}

.loaderBlock:nth-child(8) {
	transform: translate(30px, 60px);
	animation-delay: 0.8s;
}

.loaderBlock:nth-child(9) {
	transform: translate(60px, 60px);
	animation-delay: 0.9s;
}

@keyframes show {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}